:root {
  // Primary

  --color_p1: hsl(7, 99%, 70%);
  --color_p2: hsl(51, 100%, 49%);
  --color_p3: hsl(167, 40%, 24%);
  --color_p4: hsl(198, 62%, 26%);
  --color_p5: hsl(168, 34%, 55%);

  // Neutral

  --color_n1: hsl(212, 27%, 19%);
  --color_n2: hsl(213, 9%, 39%);
  --color_n3: hsl(232, 10%, 55%);
  --color_n4: hsl(173, 51%, 61%);
  --color_n5: hsl(0, 0%, 100%);
}